Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/StarterBundle/
Content/Dynamic/Maps/Map1.umap,Content/Dynamic/Maps/Map1_BuiltData.uasset
Content/Dynamic/Maps/Map1.umap
Content/Dynamic/Maps/Map1_BuiltData.uasset
Content/Dynamic/Maps/Minimal_Default.umap
Content/Dynamic/Maps/Minimal_Default_BuiltData.uasset
Content/Megapack/
Content/ResearchMegaPack/
LocalDerivedDataCache/
Content/IndustrialArea/Textures/T_Wooden_Box_R.uasset
Content/IndustrialArea/
Content/StarterContent/
Plugins/Developer/RiderLink/

